{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
	</head>
	<body>
		<script>
			const socket = io.connect();
			
			socket.on('double_response', (message) => {
				console.log(message);
				$('#result').text(message['data']);
			});
			
			socket.on('connected', (message) => {
				console.log(message);
			});
			
			function doubleRequest() {
				console.log("sending double request");
				socket.emit('double', {data : $('#number').val()});
				console.log("request sent");
			}
		</script>
		<form id="double">
			{% csrf_token %}
			<input type="number" name="number" id="number"><br>
			<button type="button" onclick="doubleRequest()">Double This!</button><br>
		</form>
		This number * 2 is = <span name="result" id="result"></span>
	</body>
</html>