{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
	</head>
	<body>
		<script>
			const socket = io.connect();
			
			socket.on('double_response', (message) => {
				$('#result').text(message['data']);
			});
			
			$('form#double').submit(function(event) {
				socket.emit('double', {data : $('#number').val()});
				return false;
			});
		</script>
		<form id="double" method="POST" action=#>
			{% csrf_token %}
			<input type="number" name="number" id="number"><br>
			<input type="submit" value="Double This!"><br>
		</form>
		This number * 2 is = <output name="result" id="result">
	</body>
</html>